.nav-link  {
    color: #00c4a3 !important;
}
a {
    color: #00c4a3 !important;
}

.jumbotron h1 , p {
    color: #2e6279;
}
.mr-auto  {
    color: #00c4a3 !important;
}
.navbar {
    background: white !important;
}